<h1>My events by status</h1>
<% if @my_events_by_status.blank? %>
  <p>
    &mdash; You have not added any events &mdash;
  </p>
<% else %>
  <%# TODO reuse table formatting from overview page %>
  <% @my_events_by_status.each_pair do |status, events| %>
    <h3>
      <%= MyEvent.status_label_for(status) %>
    </h3>
    <ul>
      <% events.each do |event| %>
        <li>
          <%= link_to %{#{cleanse(event.title)} &mdash; #{normalize_time(event)}}, event_path(event) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
