<h1>My events</h1>
<% if @my_events.blank? %>
  <p>
    &mdash; You have not added any events &mdash;
  </p>
<% else %>
<ul>
  <% @my_events.each do |my_event| %>
    <%# TODO come up with sensible formatting %>
    <%# TODO hide old events %>
    <li>
      You <strong>
      <%= 
        case my_event.status.to_sym
        when :yes
          "are going to"
        when :no
          "are not going to"
        when :maybe
          "may be going to"
        end
      %>
      </strong>
      <%= link_to cleanse(my_event.event.title), event_path(my_event.event) %> 
      on
      <br />
      <%= normalize_time(my_event.event) %> 
    </li>
  <% end %>
</ul>
<% end %>
